body{
    background-image: url('/other/nav-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h2{
    font-size: 34px;
    font-family: fantasy;
}
p{
    font-size: 20px;
    font-family: fantasy;
}
@media screen and (max-width:1000px){
    h2{
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }
}
/* 導覽欄 */
.TOP{
    position: fixed;
    top: 0px;
    left: -0px;
    width: 100%;
}
nav a{
    
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
    display: block;
    padding: 10px;
}
.unlist-nav{
    display: flex;
    background-image: url('/other/nav-background.jpg');
    background-repeat:repeat;
    list-style: none;
    padding: 0px;
    margin: 0px;
    justify-content: space-around;
}
nav a:hover{
    background-color: salmon;
    color: white;
}
/* 導覽欄 */

.container{
    margin-top: 100px;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* 搜尋列 */
.search{
    margin-top: 50px;
    height: 6%;
    width: 85%;
    display: flex;
    flex-direction: row;
}
.search-up{
    width: 48%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.search-down{
    width: 48%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
.search-btn{
    background-color: teal;
    max-width: 100px;
    max-height: 119px;
    width: 100%;
}
.search-img{
    max-width: 100px;
    max-height: 119px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    
}
@media screen and (max-width:700px){
    .search{
        flex-direction: column;
        align-items: center;
    }
    .search-up{
        width: 100%;
        margin: 5px 0px;
        justify-content: space-between;
    }
    .search-down{
        width: 100%;
        margin: 5px 0px;
        justify-content: space-between;
    }
}
/* 搜尋列 */

/* 角色介紹 */
.characters-background{
    
    margin: 5% 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.C-img{
    
    width: 500px;
    height: 500px;

}
.C-text{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:600px){
    .C-img{
        width: 85%;
        height: auto;
    }
    .C-img img{
        width: 100%;
    }
}
/* 角色介紹 */
