/* 導覽欄 */
.TOP{
    position: fixed;
    top: 0px;
    left: -0px;
    width: 100%;
    z-index: 1;
}
nav a{
    
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
    display: block;
    padding: 10px;
}
.unlist-nav{
    display: flex;
    background-image: url('/other/nav-background.jpg');
    background-repeat:repeat;
    list-style: none;
    padding: 0px;
    margin: 0px;
    justify-content: space-around;
}
nav a:hover{
    background-color: salmon;
    color: white;
}
/* 導覽欄 */

body{
    background-color: black;
    background-image: url('/other/bar-time.jpg');
    background-attachment: fixed;
    background-size: cover;
}
p{
    font-size: 20px;
    font-family: fantasy;
}

/* 回合制 */
.Turn-based{
    margin-top: 200px;
    width: 75%;
    margin-left: 12.5%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}
.Turn-text{
    width: 75%;
    border-radius: 25px;
    flex-wrap: wrap;
}
.Turn-div-img{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 25px;
    width: 25%;
}
.Turn-img{
    max-height: 100%;
    max-width: 100%;
}
@media screen and (max-width:1200px)
{
    .Turn-based h1{
        font-size: 24px;
    }
    .Turn-based p{
        font-size: 18px;
    }
}
@media screen and (max-width:900px){
    .Turn-based{
        flex-direction: column;
    }
    .Turn-text{
        width: 100%;
    }
    .Turn-div-img{
        width: 100%;
        align-items: center;
    }
    .Turn-based h1{
        font-size: 20px;
    }
    .Turn-based p{
        font-size: 14px;
    }
}
@media screen and (max-width:600px){
    .Turn-based h1{
        font-size: 16px;
    }
    .Turn-based p{
        font-size: 10px;
    }
}
/* 回合制 */

/* 弱點機制 */
.weak-point{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 8%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
}
.weak-1{
    width: 100%;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}
.weak-1-text{
    background-color: rosybrown;
    width: 75%;
    border-radius: 25px;
}
.weak-1-img{
    background-color: aquamarine;
    width: 25%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.weak-1-img img{
    max-width: 100%;
    max-height: 100%;
}
@media screen and (max-width:1200px){
    .weak-point h2{
        font-size: 24px;
    }
    .weak-point p{
        font-size: 18px;
    }
}
@media screen and (max-width:900px){
    .weak-point h2{
        font-size: 20px;
    }
    .weak-point p{
        font-size: 14px;
    }
}
@media screen and (max-width:700px){
    .weak-1{
        flex-direction: column;
    }
    .weak-1-text{
        width: 100%;
    }
    .weak-1-img{
        width: 50%;
        margin: 0% 25%;
        flex-direction: row;
        justify-content: center;
    }
    .weak-1-img img{
        max-width: 50%;
        max-height: 50%;
    }
    .weak-point h2{
        font-size: 16px;
    }
    .weak-point p{
        font-size: 10px;
    }
}
@media screen and (max-width:450px){
    .weak-1-img{
        width: 75%;
        margin: 0% 12.5%;
    }
}


.weak-2{
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.weak-2-text{
    background-color: burlywood;
    width: 50%;
}
.weak-2-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.weak-2-img img{
    max-width: 277px;
    max-height: 267px;
    width: 45%;
}
@media screen and (max-width:700px){
    .weak-2{
        flex-direction: column;
    }
    .weak-2-text{
        width: 100%;
    }
    .weak-2-img{
        width: 60%;
        margin: 0% 20%;
    }
}
@media screen and (max-width:450px){
    .weak-2-img{
        width: 80%;
        margin: 0% 10%;
    }
}

.weak-3{
    width: 100%;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}
.weak-3-text{
    width: 75%;
}
.weak-3-img{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.weak-3-img img{
    max-width: 100%;
    max-height: 100%;
}
@media screen and (max-width:700px){
    .weak-3{
        flex-direction: column;
    }
    .weak-3-text{
        width: 100%;
    }
    .weak-3-img{
        width: 50%;
        margin: 0% 25%;
        flex-direction: row;
        justify-content: center;
    }
    .weak-3-img img{
        max-width: 50%;
        max-height: 50%;
    }
}
@media screen and (max-width:450px){
    .weak-3-img{
        width: 75%;
        margin: 0% 12.5%;
    }
}


.weak-4{
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
}
.weak-4 img{
    width: 100%;
}
/* 弱點機制 */

/* BP機制 */
.Battle-Point{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 8%;
    margin-bottom: 8%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius:25px;
}
@media screen and (max-width:1200px){
    .Battle-Point h2{
        font-size: 24px;
    }
    .Battle-Point p{
        font-size: 18px;
    }
}
@media screen and (max-width:900px){
    .Battle-Point h2{
        font-size: 20px;
    }
    .Battle-Point p{
        font-size: 14px;
    }
}
@media screen and (max-width:700px){
    .Battle-Point h2{
        font-size: 16px;
    }
    .Battle-Point p{
        font-size: 10px;
    }
}

.BP-1{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}
.BP-1-text{
    background-color: rosybrown;
    width: 100%;
}
.BP-1-img{
    background-color: goldenrod;
    border-radius: 25px;
    width: 60%;
    margin: 0% 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.BP-1-img img{
    max-width: 210px;
    max-height: 150px;
    width: 45%;
}
@media screen and (max-width:700px){
   .BP-1-img img{
       max-width: 138.5px;
       max-height: 76px;
   }
}
@media screen and (max-width:450px){
    .BP-1-img{
        width: 80%;
        margin: 0% 10%;
    }
}

.BP-2{
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.BP-2-text{
    background-color: lawngreen;
    width: 100%;
}
.BP-2-img{
    background-color: aquamarine;
    width: 70%;
    margin: 0% 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.BP-2-img img{
    max-width: 403px;
    max-height: 150px;
    padding-right: 2.5%;
    width:45%;
}
@media screen and (max-width:700px){
    .BP-2-img img{
        max-width: 201.5px;
        max-height: 75px;
    }
}
@media screen and (max-width:450px){
    .BP-2-img{
        width: 90%;
        margin: 0% 5%;
    }
}
.BP-3{
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.BP-3-text{
    background-color: blueviolet;
    width: 100%;
}
.BP-3-img{
    background-color: burlywood;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.BP-3-img img{
    max-width: 117px;
    max-height: 173px;
    width: 22%;
    
}
/* BP機制 */