body{
    margin: 0px;
    padding: 0px;
    background-image: url('/other/band.jpg');
    background-attachment: fixed;
    background-size: cover;
}
/* 導覽欄 */
.TOP{
    position: fixed;
    top: 0px;
    left: -0px;
    width: 100%;
    z-index: 2;
}
nav a{
    
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
    display: block;
    padding: 10px;
}
.unlist-nav{
    display: flex;
    background-image: url('/other/nav-background.jpg');
    background-repeat:repeat;
    list-style: none;
    padding: 0px;
    margin: 0px;
    justify-content: space-around;
}
nav a:hover{
    background-color: salmon;
    color: white;
}
/* 導覽欄 */

/* 主題曲 */
.main-bgm{
    width:60% ;
    height:500px;
    margin-left: 20%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 3%;
}
h1{
    margin-top: 200px;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
    color: white;
    
}
.main-yt{
    width:100% ;
    height:400px;
}
/* 主題曲 */

/* 角色主題曲 */
.character-bgm{
    background-color:rgba(0,0,0,0.7);
    margin-left: 7.5%;
    width: 85%;
    border-radius: 3%;
}
h2{
    margin-top: 100px;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 30px;
}
.container-1{
    background-image: url('/other/nav-background-lager.jpg');
    background-color: blueviolet;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin-left: 5%;
}
.character{
    width: 50%;
    color: black;
    text-align: center;
}
.character-img{
    width: 100%;
    height: 100%;
}
.character p{
    font-size: 25px;
    font-family:cursive;
}
@media screen and (max-width:700px){
    .container-1{
        background-image: url('/other/nav-background-small.jpg');
    }
    .character p{
        font-size: 20px;
    }
}
@media screen and (max-width:414px){
    .container-1{
        background-image: url('/other/nav-background-very\ small.jpg');
    }
    .character p{
        font-size: 15px;
    }
}
/* 角色主題曲 */

/* 場地配樂 */
.place-bgm{
    background-color:rgba(0,0,0,0.7);
    margin-left: 7.5%;
    width: 85%;
    border-radius: 3%;
    margin-bottom: 50px;
}
.container-2{
    width: 90%;
    margin-left: 5%;
}
.place-left{
    background-color: aquamarine;
    width: 95%;
}
.place-right{
    background-color: brown;
    width: 95%;
    margin-left: 5%;
}
.place-a{
    width: 100%;
    height: 100%;
}
.place-img{
    max-width: 100%;
    max-height: 100%;
}
.container-2 p{
    font-family: fantasy;
    font-size: 18px;
}
@media screen and (max-width:850px){
    .container-2 p{
        font-size: 14px;
    }
}
@media screen and (max-width:670px){
    .container-2 p{
        font-size: 11px;
    }
} 
@media screen and (max-width:400px){
    .container-2 p{
        font-size: 8px;
    }
}
/* 場地配樂 */