/* 導覽欄 */
.TOP{
    position: fixed;
    top: 0px;
    left: -0px;
    width: 100%;
}
nav a{
    
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
    display: block;
    padding: 10px;
}
.unlist-nav{
    display: flex;
    background-image: url('/other/nav-background.jpg');
    background-repeat: no-repeat;
    list-style: none;
    padding: 0px;
    margin: 0px;
    justify-content: space-around;
}
nav a:hover{
    background-color: salmon;
    color: white;
}
/* 導覽欄 */
.home{
    width: 100%;
    height: 100%;
    background-image: url(/other/map.jpg);
    background-size: 100%;
}
.logo{
    width: 100%;
    height: 100%;
}
.logo img{
    position: relative;
    width: 500px;
    height: 250px;
    margin-top: 5%;
    margin-left: 38%;
}